img {
    width: 100%;
    height: 100%;
}

.devour-burger {
    color: red;
    /* margin-left: 50px; */
    /* float: right; */
}

.change-sleep a:link {
    color: red;
}

.change-sleep:hover {
    color: red;
}
